
* { margin:0;padding:0;box-sizing:border-box; }

body{
	background: url("images/baos.png") repeat-x;
	background-color: #52596b;
	background-size: 1333px 700px;
	color: #ffffff;
	margin-top: 100px;
}

section {
	margin: 70px 0 0 0px;
}

h1 {
	font-size: 60px;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 0.0425em;
	text-align: center;
}

p{
	font-family: 'Rokkitt', serif;
	font-size: 20px;
	line-height: 115%;
}

.logo {
	display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
	width: 800px;
}

.footer{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	font-style: lighter;
	letter-spacing: 0.0825em;
	margin-top: 150px;
	text-align: center;
}

.pspacing{
    display: block;
    font-family: 'Rokkitt', serif;
	font-size: 20px;
	height: 100px;
	line-height: 115%;
	margin-left: auto;
    margin-right: auto;
    position: relative;
	text-align: justify;

	width: 320px;
}