#banner {
    position:absolute;
    top:0;
    left:0;
    height:100px;
    width:100%;
    overflow:hidden;
    background:url("images/stripes.png") repeat-x;
}

body {
	background:url("images/background.jpg");
	background-color:#52596b;
	background-size:cover;
	font-size:22px;
	font-family:Helvetica;
	font-weight:lighter;
	color:#ffffff;
	padding-top:200px;
    padding-left:100px;
}

hr {
	margin-left:0;
	width:40px;	
	color:#ff6e6e;
}

.spacing{
	margin-top:20px;
}

.pspacing{
	margin-top:30px;
}

.btnspacing{
	margin-top:20px;
}