* { margin:0;padding:0;box-sizing:border-box; }
body {
	background:url("images/background.jpg");
	background-color:#52596b;
	background-size:cover;
	color:#ffffff;
	font-size:22px;
	font-family:Helvetica, sans-serif;
	font-weight:lighter;
}
section {
	margin:200px 0 0 100px;
}
hr {
	border-color:#ff6e6e;
	width:40px;
}
#banner {
	background:url("images/stripes.png") repeat-x;
	height:13px;
	width:100%;
	position:absolute;
	top:0;
	left:0;
}

.spacing{
	margin-top:20px;
}

.pspacing{
	margin-top:30px;
}

.btnspacing{
	margin-top:20px;
}
